@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito','sans-serif';
}
:root{
    --bg-color:#ce6a27;
    --text-color: white;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: #333;
    color:var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 9%;
    background: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color:var(--text-color);
    font-weight: 700;
    cursor:default;
}
.nav-bar a{
    font-size: 1.5rem;
    color:var(--text-color);
    margin-left: 4rem;
    font-size: 700;
}
.nav-bar a:hover,
.nav-bar a.active{
    color:#ce6a27;
}
.nav-bar a:active{
    color:#ce6a27;
}
#menu-icon{
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img{
    width:25vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
span{
    color:var(--bg-color)
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid white;
    border-radius: 50%;
    font-size: 2rem;
    color:white;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    color:#333;
    background: white;
    box-shadow: 0 0 1rem white;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: 0 0 1rem var(--bg-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: #fafafa;
    color:#333;
}
.about-img img{
    width:35vw;
    border-radius: 6%;
    border: 4px solid #333;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.service h2{
    margin-bottom: 5rem;
}
.service-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color:#333;
}

.service-content .service-box {
    flex:1 1 30rem;
    background: #fafafa;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    transition: .5s ease;
}
.service-content .service-box:hover{
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color:#333
}
.service-box h3{
    font-size: 2.6rem;
}
.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


.education{
    background: #fafafa;
    color: #333;
    min-height: 80vh;
}
.education .quote {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Nunito",sans-serif;
    font-weight: 600;
    margin-top: 0.5rem;
}
.education .education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.education .education-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background: white;
}
.education .education-container .box:hover{
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0,0,0,.3);
}
.education .education-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
}
.education .education-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.education .education-container .box .education-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
}
.education .education-container .box .education-content h3 {
    font-size: 2.5rem;
    color:#ce6a27;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
}
.education .education-container .box .education-content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
}
.education h4 {
    font-size: 2rem;
    color: rgb(34,109,0);
    text-align: left;
    margin: 1rem;
    font-weight: 700;
}

.project {
    background: #333;
    color: #fafafa;;
}
.project h2 {
    margin-bottom: 4rem;
}
.project-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    color: #333;
}
.project-content .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #333;
    overflow: hidden;
    display: flex;
}
.project-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, rgba(0,0,0,0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 3rem;
}
.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.project-layer a {
    display: inline-flex;
    color:white;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #333;
    border-radius: 50%;
}
.project-layer a i{
    font-size: 2rem;
    color:white;
}
.contact{
    background: #fafafa;
    color: #333;
}
.contact h2{
    margin-bottom: .1rem;
}
.contact #heading{
    margin-bottom: 3rem;
    font-size: 20px;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem;
    background: white;
    color:black;
    border-radius: .8rem;
    border: 2px solid #333;
    margin: .7rem 0;
}
.contact form .input-box input {
    width:49%;
}
.contact form textarea {
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor:pointer;
}
.hidden {
    display: none;
  }
  
  #thankYouMessage {
    color: #28a745;
    font-weight: bold;
    margin-top: 20px;
  }

.footer,footer{
    min-height: auto;
    padding-top: 0;
    background: #2e2e2e;
}
.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2.5rem;
}
.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: white;
    padding-bottom: 1rem;
    font-weight: normal;
}
.footer .box-container .box p {
    font-size: 1.5rem;
    color: white;
    padding: 0.7rem 0;
    text-transform: none;
}
.footer .box-container .box p i {
    padding-right: 1rem;
    color:#ce6a27;
}
.footer .box-container .box a{
    font-size: 1.5rem;
    color: white;
    padding: 0.3rem 0;
    display: block;
}
.footer .box-container .box a:hover {
    color:#ce6a27;
}
.footer .box-container .box .share {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-left: 1rem;
    transition: 0.2s;
    background: white;
    color:#ce6a27;
    border: none;
}
.footer .box-container .box .share a:hover {
    background: #ce6a27;
    transform: scale(0.98);
    border: 0.1rem solid rgb(180,178,178);
    color: white;
}
.footer .credit {
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito",sans-serif;
    color: white;
    border-top: 0.1rem solid #fff3;
}
.footer .credit a {
    color:#ce6a27;
}
.footer .fa {
    color: white;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
    to {
        transform: scale(1.1);
    }
}
@keyframes pound {
    to {
        transform: scale(1.1);
    }
}


/* .footer-text {
    font-size: 1.6rem;
} */

/* .footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background:#fafafa;
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 .5rem white;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color:#333;
} */

#scroll-top {
    position: fixed;
    top: -140%;
    right: 2rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background: #ce6a27;
    color: white;
    border-radius: 50%;
    transition: 1s linear;
    z-index: 1000;
}
#scroll-top.active {
    top: calc(100% - 12rem);
}
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .service{
        padding: 7rem;
    }
    .project {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width: 760px){
    #menu-icon {
        display: block;
    }
    .nav-bar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #2e2e2e;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .nav-bar.active{
        display: block;
    }
    .nav-bar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2;
    }
    .home-img img {
        width:90vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column;
    }
    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }
    .service h2 {
        margin-bottom: 3rem;
    }
    .project h2 {
        margin-bottom: 3rem;
    }
    .project-content {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 617px){
    .education .education-container .box {
        flex-direction: column;
        width: 100%;
    }
    .education .education-container .box .image {
        width: 100%;
        height: 25rem;
    }
    .education .education-container .box .education-content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        flex-wrap: wrap;
        flex: 0;
    }
    .education .btns {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-wrap: wrap;
    }
    
    .project-content {
        grid-template-columns: 1fr;
    }
    .home-img img{
        width:80vw;
        margin-top: 8rem;
    }
    .about-img img {
        width:100vw;
        margin-top: 4rem;
    }
}
@media (max-width: 450px){
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer .box-container .box {
        margin: 1.5rem;
    }
    .footer .box-container .box p {
        padding: 0.7rem;
    }
    .footer .box-container .box .share a {
        padding: 1.2rem;
    }
}

